{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Pasajeros</h2>
    <a href="{% url 'passenger_create' %}" class="btn btn-primary mb-3">Añadir Nuevo Pasajero</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for passenger in passengers %}
            <tr>
                <td>{{ passenger.first_name }}</td>
                <td>{{ passenger.last_name }}</td>
                <td>{{ passenger.dni }}</td>
                <td>{{ passenger.email }}</td>
                <td>{{ passenger.phone_number }}</td>
                <td>
                    <a href="{% url 'passenger_update' passenger.pk %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'passenger_delete' passenger.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No se encontraron pasajeros.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}