{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Aviones</h2>
    <a href="{% url 'plane_create' %}" class="btn btn-primary mb-3">Añadir Nuevo Avion</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Capacidad</th>
                <th>Filas</th>
                <th>Columnas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for plane in planes %}
            <tr>
                <td>{{ plane.model }}</td>
                <td>{{ plane.capacity }}</td>
                <td>{{ plane.rows }}</td>
                <td>{{ plane.columns }}</td>
                <td>
                    <a href="{% url 'plane_update' plane.pk %}" class="btn btn-sm btn-warning">Editar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No se encontraron aviones.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}