{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Reservas</h2>
    <a href="{% url 'reservation_create' %}" class="btn btn-primary mb-3">Añadir Nueva Reserva</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Vuelo</th>
                <th>Pasajero</th>
                <th>Número de Asiento</th>
                <th>Código de Reserva</th>
                <th>Fecha de Reserva</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.flight }}</td>
                <td>{{ reservation.passenger }}</td>
                <td>{{ reservation.seat.number }}</td>
                <td>{{ reservation.code }}</td>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.price }}</td>
                <td>{{ reservation.status }}</td>
                <td>
                    <a href="{% url 'reservation_update' reservation.pk %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'reservation_delete' reservation.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No se encontraron reservas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}